<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
      <header>
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li class="current"><a href="{{ url_for('home')}}">HOME</a></li>
              {% if session.logged_in %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% else %}
                <li><a href="{{url_for('login') }}">Login</a></li>
              {% endif %}
              
            </ul>
          </div>
        </nav>
      </header>

    {% block content %}{% endblock %}

  </body>
</html>
